$offsets: (
  left-center:    ( x: 20%, y: 50% ),
  top-center:     ( x: 50%, y: 4%  ),
  center-center:  ( x: 50%, y: 50% ),
  right-center:   ( x: 80%, y: 50% )
);

$section-padding: 0;
$default-opacity: 0.5;